body{
	display:flex;
	text-align:center;
	flex-direction:column;
}

#header{
	display:flex;
	padding-left:2%;
	padding-right:2%;
	justify-content:space-between;
	align-items:center;
}
#header a{
	text-decoration:none;
	font-family:'Gloria Hallelujah', cursive;
	font-size:25px;
	color:black;
}
#header a:hover{
	border-style:solid;
	border-radius:20px 10px 20px 10px;
	color:white;
	background-color:green;
}
.borderh1{
	font-size:60px;
	padding:2%;
	color:black;
	font-family:'Gloria Hallelujah', cursive;
}
/*FINE HEADER*/

#center{
	display:flex;
	margin-left:2%;
	margin-right:2%;
	margin-top:1%;
	background-color:black;
	justify-content:space-between;
	align-items:center;
}
#center img{
	border-radius: 100px 100px 100px 100px;
	padding:1%;
}
#center h2{
	font-size:40px;
	color:black;
	font-family:'Gloria Hallelujah', cursive;
	border-radius:100px 100px 100px 100px;
	background-color:white;
	padding:2%;
	
}
.description{
	font-family: 'Garamond',serif;
	font-size:25px;
	color:white;
	padding:1%;
}
/*INIZIO FOOTER*/
#footer{
	display:flex;
	flex-direction:column;
	margin-left:2%;
	margin-right:2%;
	margin-top:1%;
	background-color:black;
	
}

@media all and (max-width: 800px){
	#header{
		flex-direction:column;
	}
	#center{
		flex-direction:column;
	}